.mainPageSearchForm {
	margin-top: 20px;
	//font-size: 20px;

	.form-control:focus {
		box-shadow: none;

		& + .input-group-btn > .btn {
			border: 1px solid #66afe9;
		}
	}

	.btn,
	.input-group-lg > .input-group-btn > .btn {
		background-color: #fff;
		border-radius: 0;
		border-left: none;
	}

	.btn-inner-wrapper {
		padding-left: 16px;
		border-left: 1px solid #ccc;
	}

	.btn-text {
		display: none;

		@media @screen-sm {
		  display: inline;
		}
	}

	.btn-icon {
		color: #2c5b86;
		font-size: 1.3em;
	}

}
